.App {
  text-align: center;
}

.spin {
  text-align: center;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.header{
  padding-bottom: 20
}

.content{
  padding-top: 20
}

.footer{
  padding-top: 500
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
